@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<section class="seccion contenedor">
    <h2>Bienvenido a la escuela de negocios de ORACON</h2>
    <p>
        Oracon ha desarrollado una escuela de negocios para nuestros clientes, donde podrás aprender las últimas tendencias de administración de empresas, cursos prácticos como: Marketing Digital, Planeamiento Estratégico, Liderazgo, Brandig entre otros.
    </p>
</section>

<section class="programa">
    <div class="contenedor-video">
        <video autoplay loop poster="~/project/bg-talleres.jpg">
            <source src="video/video.mp4" type="video/mp4">
            <source src="video/video.webm" type="video/webm">
            <source src="video/video.ogv" type="video/ogv">
        </video>
    </div>
    <div class="contenido-programa">
        <div class="contenedor">
            <div class="programa-evento">
                <h2>Cursos mas populares</h2>

                <nav class="menu-programa">
                    <a href="#administracion"><i class="fa fa-users" aria-hidden="true"></i> Administración</a>
                    <a href="#contabilidad"><i class="fa fa-pie-chart" aria-hidden="true"></i> Contabilidad</a>
                    <a href="#marketing"><i class="fa fa-line-chart" aria-hidden="true"></i> Marketing</a>
                    <a href="#ofimatica"><i class="fa fa-desktop" aria-hidden="true"></i> Ofimática</a>
                </nav>

                <div id="administracion" class="info-curso ocultar clearfix">
                    <div class="detalle-evento">
                        <h3>Como ser freelancer</h3>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> 150</p>
                        <p><i class="fa fa-user" aria-hidden="true"></i> Susan Sanchez</p>
                    </div>
                    <div class="detalle-evento">
                        <h3>Como ser freelancer</h3>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00</p>
                        <p><i class="fa fa-money" aria-hidden="true"></i> 150</p>
                        <p><i class="fa fa-user" aria-hidden="true"></i> Susan Sanchez</p>
                    </div>
                    <a href="" class="button float-right">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contenedor seccion">
    <h2>Nuestro grupo de docentes</h2>
    <div class="glider-contain">
        <div class="glider">
            <div class="glider-item">
                <a class="invitado-info" href="#invitado1">
                    <img src="~/FilesBD/1.jpg" alt="Docente1">
                    <p>Rafael  Bautista</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado2">
                    <img src="~/FilesBD/2.jpg" alt="Docente2">
                    <p>Shari Herrera</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado3">
                    <img src="~/FilesBD/chicolac2010.jpg" alt="Docente3">
                    <p>Suan Sanchez</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado1">
                    <img src="~/FilesBD/1.jpg" alt="Docente1">
                    <p>Rafael  Bautista</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado2">
                    <img src="~/FilesBD/2.jpg" alt="Docente2">
                    <p>Shari Herrera</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado3">
                    <img src="~/FilesBD/unnamed.jpg" alt="Docente3">
                    <p>Suan Sanchez</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado1">
                    <img src="~/FilesBD/1.jpg" alt="Docente1">
                    <p>Rafael  Bautista</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado2">
                    <img src="~/FilesBD/2.jpg" alt="Docente2">
                    <p>Shari Herrera</p>
                </a>
            </div>
            <div class="glider-item">
                <a class="invitado-info" href="#invitado3">
                    <img src="~/FilesBD/3.jpg" alt="Docente3">
                    <p>Suan Sanchez</p>
                </a>
            </div>
        </div>
        <button class="glider-prev" aria-label="anterior">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
        <button class="glider-next" aria-label="siguiente">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
    </div>
</section>

<div class="contador parallax">
    <div class="contenedor">
        <ul class="resumen-evento clearfix">
            <li><p class="numero">11</p>Docentes</li>
            <li><p class="numero">120</p>Cursos Totales</li>
            <li><p class="numero">10</p>Cursos Inscritos</li>
            <li><p class="numero">2</p>Cursos Completados</li>
        </ul>
    </div>
</div>