@{
    Layout = "~/Views/Shared/Docente_Layout.cshtml";
    ViewData["Title"] = "404";
}
<div class="text-center mt-4">
    <img class="mb-4 img-error" src="~/project/error-404.svg" />
    <p class="lead">This requested URL was not found on this server.</p>
    <a href="/docente/index">
        <i class="fas fa-arrow-left me-1"></i>
        Return to Dashboard
    </a>
</div>
