<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oracon</title>

    <link rel="shortcut icon" href="/project/icono.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=PT+Sans&display=swap">
</head>
<body>
    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a href="/"><img src="~/project/logo.png" alt="LOGO ORACON" width="180" /></a>
            </div>
            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                @if (User.Identity.IsAuthenticated)
                {
                    <span></span>
                }
            </div>
            <nav class="navegacion-principal clearfix">
                <a href="/Curso/Cursos?idCategoria=0">CURSOS</a>
                <a href="/Curso/Docentes">DOCENTES</a>
                <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false" href="#">CATEGORIA</a>
                <ul class="dropdown-menu ">
                    @foreach (var item in ViewBag.Categorias)
                    {
                        <li><a class="dropdown-item" href="/Curso/Cursos?idCategoria=@item.Id">@item.Nombre</a></li>
                    }
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/user/login">LOGIN</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/ajustes/"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                    <a href="/user/Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                }
            </nav>
            @*<div class="buscador">
                    <label for="Buscar"><i class="fa fa-search"></i></label>
                    <input type="search" size="27" placeholder="Buscar" />
                </div>*@
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Oracon SRL © Todos los derechos reservados.</div>
                <a href="/home/privacy">Privacy Policy</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
